Repository binGhzal/infraFlux: changes, and which pre-commit hooks are due for each by the changed paths.
All: kubeconform, opentofu-fmt, helm-lint

kubeconform:
  name: kubeconform (skip if missing)
  language: system
  ...

opentofu-fmt:
  name: OpenTofu fmt check (skip if missing)
  language: system
  entry: 'bash -c ''command -v tofu >/dev/null 2>&1 || { echo "opentofu not installed, skipping"; exit 0; }; tofu fmt -recursive -check''
  
    '
  pass_filenames: false

helm-lint:
  name: helm lint (skip if missing)
  language: system
  ...

feat: enhance CI workflow, update kubeconform version, and improve README for clarity
  .github/workflows/ci.yaml
  .sops.yaml
  README.md
  gitops/argocd/apps/capi-providers/application.yaml
  gitops/argocd/apps/cert-manager/application.yaml
  gitops/argocd/apps/cilium/application.yaml
  gitops/argocd/apps/dashboard/application.yaml
  gitops/argocd/apps/external-dns/application.yaml
  gitops/argocd/apps/longhorn/application.yaml
  gitops/argocd/apps/monitoring/application.yaml
  terraform/10-mgmt-talos/main.tf
  terraform/10-mgmt-talos/variables.tf
  terraform/20-capi-operator/main.tf
  terraform/30-capmox/main.tf
  terraform/40-clusters/main.tf
  terraform/40-clusters/versions.tf
  terraform/50-argo/main.tf
  terraform/50-argo/versions.tf
Due: kubeconform, opentofu-fmt, helm-lint

refactor: rename kubernetes secret and update values.yaml for Argo CD configuration
  terraform/30-capmox/main.tf
  terraform/50-argo/main.tf
  terraform/50-argo/values.yaml
Due: kubeconform, opentofu-fmt, helm-lint

refactor: rename kubernetes secret to match naming conventions
  terraform/30-capmox/main.tf
Due: opentofu-fmt

feat: update Proxmox VM configuration to use 'l26' as the OS type and remove cloud-init customizations
  terraform/10-mgmt-talos/main.tf
  terraform/20-capi-operator/main.tf
Due: opentofu-fmt

feat: add example terraform variable files for management, CAPI operator, CAPMox, and Argo CD configurations
  terraform/10-mgmt-talos/terraform.tfvars.example
  terraform/20-capi-operator/terraform.tfvars.example
  terraform/30-capmox/terraform.tfvars.example
  terraform/50-argo/terraform.tfvars.example
Due: none

fix: correct 'ostype' to 'os_type' and add missing 'slot' and 'id' attributes in disk and network blocks
  terraform/10-mgmt-talos/main.tf
Due: opentofu-fmt

fix: update kubernetes_secret to use base64 encoding for token data
  terraform/30-capmox/main.tf
Due: opentofu-fmt

fix: update Proxmox credentials and variable names for consistency
  .gitignore
  secrets/proxmox-credentials.sops.example.yaml
  terraform/30-capmox/main.tf
  terraform/30-capmox/terraform.tfvars.example
Due: kubeconform, opentofu-fmt, helm-lint

feat: add module-level validations for Talos template and VMIDs in Proxmox configuration
  terraform/10-mgmt-talos/main.tf
  terraform/10-mgmt-talos/terraform.tfvars.example
  terraform/10-mgmt-talos/variables.tf
  terraform/10-mgmt-talos/versions.tf
  terraform/30-capmox/main.tf
Due: opentofu-fmt

feat: add optional ISO mount configuration for Proxmox VMs and update example variable file
  terraform/10-mgmt-talos/.terraform.tfstate.lock.info
  terraform/10-mgmt-talos/main.tf
  terraform/10-mgmt-talos/terraform.tfvars.example
  terraform/10-mgmt-talos/variables.tf
Due: opentofu-fmt

feat: add bootstrap module for Talos node with configuration and example variables
  terraform/00-proxmox-foundation/main.tf
  terraform/00-proxmox-foundation/outputs.tf
  terraform/00-proxmox-foundation/variables.tf
  terraform/00-proxmox-foundation/versions.tf
  terraform/10-mgmt-talos/.gitkeep
  terraform/10-mgmt-talos/.terraform.tfstate.lock.info
  terraform/10-mgmt-talos/main.tf
  terraform/20-capi-operator/.gitkeep
  terraform/20-capi-operator/main.tf
  terraform/20-capi-operator/terraform.tfvars.example
  terraform/20-capi-operator/versions.tf
  terraform/30-capmox/.gitkeep
  terraform/30-capmox/main.tf
  terraform/30-capmox/terraform.tfvars.example
  terraform/30-capmox/versions.tf
  terraform/40-clusters/.gitkeep
  terraform/40-clusters/main.tf
  terraform/40-clusters/versions.tf
  terraform/50-argo/.gitkeep
  terraform/50-argo/main.tf
  terraform/50-argo/terraform.tfvars.example
  terraform/50-argo/values.yaml
  terraform/50-argo/versions.tf
  terraform/bootstrap-talos/.gitkeep
  terraform/bootstrap-talos/README.md
  terraform/bootstrap-talos/main.tf
  terraform/bootstrap-talos/terraform.tfvars.example
  terraform/bootstrap-talos/variables.tf
  terraform/bootstrap-talos/versions.tf
Due: kubeconform, opentofu-fmt, helm-lint

feat: update README and Terraform files for improved Talos bootstrap configuration and documentation
  AGENTS.md
  README.md
  terraform/.gitignore
  terraform/.gitkeep
  terraform/README.md
  terraform/bootstrap-talos/.gitkeep
  terraform/bootstrap-talos/README.md
  terraform/bootstrap-talos/main.tf
  terraform/main.tf
  terraform/mgmt-proxmox-talos/main.tf
  terraform/mgmt-proxmox-talos/outputs.tf
  terraform/mgmt-proxmox-talos/terraform.tfvars.example
  terraform/mgmt-proxmox-talos/variables.tf
  terraform/terraform.tfvars.example
  terraform/variables.tf
  terraform/versions.tf
Due: opentofu-fmt

feat: enhance documentation with detailed bootstrap guide and roadmap for InfraFlux
  README.md
  ROADMAP.md
  docs/bootstrap.md
Due: none

feat: refactor CI workflows, remove deprecated files, and enhance secrets management documentation
  .github/workflows/ci.yaml
  .github/workflows/kubeconform.yaml
  .github/workflows/lint-helm.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/validate-yaml.yaml
  .gitignore
  .pre-commit-config.yaml
  clusters/README.md
  clusters/mgmt/capi-operator/values.yaml
  docs/adrs/.gitkeep
  docs/runbooks/.gitkeep
  docs/runbooks/proxmox-foundation.md
  secrets/README.md
  secrets/proxmox-credentials.sops.example.yaml
  terraform/.gitkeep
Due: kubeconform, helm-lint

Add ClusterClass templates and ArgoCD configurations for monitoring and backup
  clusters/templates/README.md
  clusters/templates/large-cluster.yaml
  clusters/templates/medium-cluster.yaml
  clusters/templates/small-cluster.yaml
  gitops/argocd/apps/backup/application.yaml
  gitops/argocd/apps/backup/etcd-backup.yaml
  gitops/argocd/apps/monitoring/dashboards/cluster-overview.yaml
  gitops/argocd/apps/monitoring/dashboards/node-details.yaml
  gitops/argocd/apps/monitoring/rules/infrastructure-alerts.yaml
  gitops/argocd/apps/monitoring/rules/platform-alerts.yaml
  gitops/argocd/apps/monitoring/values.yaml
Due: kubeconform, helm-lint

feat: enhance InfraFlux roadmap and implementation summary with new features, security policies, and application templates
  IMPLEMENTATION-SUMMARY.md
  ROADMAP.md
  gitops/argocd/applicationsets/README.md
  gitops/argocd/applicationsets/advanced-patterns.yaml
  gitops/argocd/applicationsets/workload-patterns.yaml
  gitops/argocd/apps/security/application.yaml
  gitops/argocd/apps/security/manifests/gatekeeper-policies.yaml
  gitops/argocd/apps/security/manifests/pod-security-standards.yaml
Due: kubeconform, helm-lint

feat: Enhance monitoring and security policies with Cilium integration
  CILIUM-ARCHITECTURE.md
  IMPLEMENTATION-SUMMARY.md
  gitops/argocd/apps/cilium/values.yaml
  gitops/argocd/apps/external-dns/values.yaml
  gitops/argocd/apps/monitoring/values.yaml
  gitops/argocd/apps/security/manifests/cilium-network-policies.yaml
  gitops/argocd/apps/tetragon/application.yaml
  gitops/argocd/apps/tetragon/values.yaml
Due: kubeconform, helm-lint

feat: Update documentation to reflect unified Cilium architecture and migration summary
  CILIUM-ARCHITECTURE.md
  MIGRATION-SUMMARY.md
  ROADMAP.md
Due: none

refactor: Remove redundant section on replaced components in Cilium architecture documentation
  CILIUM-ARCHITECTURE.md
Due: none

feat: Restructure InfraFlux repository to separate infrastructure and platform components, enhancing modularity and configuration management
  INFRASTRUCTURE-ARCHITECTURE.md
  RESTRUCTURING-PLAN.md
  ROADMAP.md
Due: none

feat: Add initial configuration files for Cilium, infrastructure components, security policies, and Terraform templates
  CILIUM-ARCHITECTURE.md
  IMPLEMENTATION-SUMMARY.md
  INFRASTRUCTURE-ARCHITECTURE.md
  INFRASTRUCTURE-RESTRUCTURE.md
  MIGRATION-SUMMARY.md
  RESTRUCTURING-PLAN.md
  ROADMAP.md
  kubernetes/base/cilium-cni.yaml
  kubernetes/base/infrastructure-components.yaml
  kubernetes/base/security-policies.yaml
  kubernetes/overlays/dev/cilium-dev-config.yaml
  kubernetes/overlays/dev/kustomization.yaml
  kubernetes/overlays/production/cilium-prod-config.yaml
  kubernetes/overlays/production/kustomization.yaml
  scripts/config-manager.sh
  scripts/deploy-cluster.sh
  terraform/environments/dev/main.tf
  terraform/environments/dev/outputs.tf
  terraform/environments/dev/terraform.tfvars.example
  terraform/environments/dev/variables.tf
  terraform/environments/production/main.tf
  terraform/environments/production/terraform.tfvars.example
  terraform/environments/production/variables.tf
  terraform/modules/proxmox-vm/main.tf
  terraform/modules/proxmox-vm/outputs.tf
  terraform/modules/proxmox-vm/variables.tf
  terraform/modules/talos-cluster/main.tf
  terraform/modules/talos-cluster/outputs.tf
  terraform/modules/talos-cluster/variables.tf
  terraform/templates/large-cluster.tf
  terraform/templates/medium-cluster.tf
  terraform/templates/small-cluster.tf
Due: kubeconform, opentofu-fmt, helm-lint

feat: Add development and production environment configurations with Talos and Proxmox integration
  INFRASTRUCTURE-ARCHITECTURE.md
  config/environments/dev.yaml
  config/environments/prod.yaml
  terraform/environments/dev/main.tf
  terraform/environments/dev/outputs.tf
  terraform/environments/dev/variables.tf
  terraform/modules/talos-cluster/outputs.tf
Due: kubeconform, opentofu-fmt, helm-lint

chore: Remove unused VSCode configuration files
  .vscode/extensions.json
  .vscode/settings.json
Due: none

feat: Introduce InfraFlux and PlatformNorthStar separation guide
  ARCHITECTURE.md
  INFRASTRUCTURE-ARCHITECTURE.md
  SEPARATION-GUIDE.md
  config/defaults/infrastructure.yaml
  config/environments/dev.yaml
  config/environments/prod.yaml
  platform/gitops/app-of-apps.yaml
  platform/gitops/projects.yaml
  platform/gitops/repositories.yaml
  platform/infrastructure/cert-manager.yaml
  platform/infrastructure/cert-manager/issuers.yaml
  platform/infrastructure/cilium.yaml
  scripts/deploy.sh
Due: kubeconform, helm-lint

Refactor and enhance platform management scripts and configuration files
  ARCHITECTURE.md
  README.md
  SEPARATION-GUIDE.md
  config/defaults/infrastructure.yaml
  config/environments/dev.yaml
  config/environments/prod.yaml
  platform/gitops/app-of-apps.yaml
  platform/gitops/projects.yaml
  platform/gitops/repositories.yaml
  platform/infrastructure/cert-manager.yaml
  platform/infrastructure/cert-manager/issuers.yaml
  platform/infrastructure/cilium.yaml
  scripts/deploy.sh
  scripts/platform-manager.sh
Due: kubeconform, helm-lint

chore: Remove obsolete architecture, project status, and separation guide documentation
  ARCHITECTURE.md
  PROJECT-STATUS.md
  SEPARATION-GUIDE.md
Due: none

feat: Add comprehensive development roadmap and immediate action plan for application framework
  COMPREHENSIVE-ROADMAP.md
  IMMEDIATE-ACTION-PLAN.md
  PLATFORM-DEVELOPMENT-SUMMARY.md
Due: none

chore: Initialize VSCode settings for Azure Terraform configuration
  .vscode/settings.json
Due: none

chore: Update .gitignore to include talos configuration directory
  .gitignore
Due: none

Add Flux v2.6.4 component manifests
  flux/bootstrap/flux-system/gotk-components.yaml
Due: kubeconform, helm-lint

Add Flux sync manifests
  flux/bootstrap/flux-system/gotk-sync.yaml
  flux/bootstrap/flux-system/kustomization.yaml
Due: kubeconform, helm-lint

Add Talos configuration files for management and worker nodes
  .gitignore
  talos/mgmt/.sops.yaml
  talos/mgmt/controlplane.yaml
  talos/mgmt/patch.yaml
  talos/mgmt/worker.yaml
Due: kubeconform, helm-lint

chore: Restore .sops.yaml with creation rules for YAML encryption
  .sops.yaml
Due: kubeconform, helm-lint

Add management cluster configuration and worker node setup
  clusters/mgmt/controlplane.yaml
  clusters/mgmt/patch.yaml
  clusters/mgmt/worker.yaml
Due: kubeconform, helm-lint

Add IPAM in-cluster provider resources and Kustomization
  .gitignore
  clusters/mgmt/infra/capi/providers/bootstrap-talos.yaml
  clusters/mgmt/infra/capi/providers/controlplane-talos.yaml
  clusters/mgmt/infra/capi/providers/core.yaml
  clusters/mgmt/infra/capi/providers/infrastructure-proxmox.yaml
  clusters/mgmt/infra/capi/providers/ipam-incluster.yaml
  clusters/mgmt/infra/kustomization.yaml
Due: kubeconform, helm-lint

Delete clusters/mgmt/controlplane.yaml
  clusters/mgmt/controlplane.yaml
Due: kubeconform, helm-lint

Delete clusters/mgmt/worker.yaml
  clusters/mgmt/worker.yaml
Due: kubeconform, helm-lint

fix: update path for Kustomization to correct directory structure
  clusters/mgmt/infra/kustomization.yaml
Due: kubeconform, helm-lint

Path conditions:
  kubeconform: any of: \.(yaml|yml)$
  opentofu-fmt: any of: \.tf$|\.tfvars$
  helm-lint: any of: \.(yaml|yml|tpl|gotmpl)$
