Repository binGhzal/infraFlux: changes, and which pre-commit hooks are due for each by the changed paths.
All: kubeconform, opentofu-fmt, helm-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: ["-c", ".yamllint"]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: ["--config", ".markdownlint.json"]

  - repo: local
    hooks:
      - id: kubeconform
        name: kubeconform (skip if missing)
        language: system
        entry: >
          bash -c 'command -v kubeconform >/dev/null 2>&1 || { echo "kubeconform not installed, skipping"; exit 0; }; kubeconform -summary -strict -ignore-missing-schemas -schema-location default -schema-location "https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/{{.Group}}/{{.ResourceKind}}_{{.ResourceAPIVersion}}.json" "$@"' --
        files: "\\.(yaml|yml)$"
        pass_filenames: true
      - id: opentofu-fmt
        name: OpenTofu fmt check (skip if missing)
        language: system
        entry: >
          bash -c 'command -v tofu >/dev/null 2>&1 || { echo "opentofu not installed, skipping"; exit 0; }; tofu fmt -recursive -check'
        files: "\\.tf$|\\.tfvars$"
        pass_filenames: false
      - id: helm-lint
        name: helm lint (skip if missing)
        language: system
        entry: >
          bash -c 'command -v helm >/dev/null 2>&1 || { echo "helm not installed, skipping"; exit 0; }; if compgen -G "**/Chart.yaml" >/dev/null; then for chart in $(git ls-files | grep "Chart.yaml" | xargs -n1 dirname | sort -u); do helm lint "$chart" || exit 1; done; else echo "No charts found, skipping"; fi'
        files: "\\.(yaml|yml|tpl|gotmpl)$"
        pass_filenames: false

Remove IPAM in-cluster provider configurations and related resources
  clusters/mgmt/infra/capi/providers/bootstrap-talos.yaml
  clusters/mgmt/infra/capi/providers/controlplane-talos.yaml
  clusters/mgmt/infra/capi/providers/core.yaml
  clusters/mgmt/infra/capi/providers/infrastructure-proxmox.yaml
  clusters/mgmt/infra/capi/providers/ipam-incluster.yaml
  clusters/mgmt/infra/kustomization.yaml
  clusters/mgmt/patch.yaml
Due: kubeconform, helm-lint

Remove Flux bootstrap configuration files for GitRepository and Kustomization
  .sops.yaml
  flux/bootstrap/flux-system/gotk-components.yaml
  flux/bootstrap/flux-system/gotk-sync.yaml
  flux/bootstrap/flux-system/kustomization.yaml
Due: kubeconform, helm-lint

feat: add initial configuration for cert-manager, external-dns, external-secrets, and related resources
  README.md
  gitops/apps/cert-manager/clusterissuer-cloudflare.yaml
  gitops/apps/cert-manager/helm-release.yaml
  gitops/apps/cilium-lb-ipam.yaml
  gitops/apps/external-dns/helm-release.yaml
  gitops/apps/external-secrets/externalsecret-cloudflare-token.yaml
  gitops/apps/external-secrets/helm-release.yaml
  gitops/apps/external-secrets/secretstore-1password.yaml
  gitops/apps/gateway-api/README.md
  gitops/apps/k8s-platform.yaml
  gitops/apps/longhorn/helm-release.yaml
  gitops/apps/onepassword-sdk/helm-release.yaml
  gitops/apps/velero/helm-release.yaml
  gitops/argocd/rbac/argocd-rbac-cm.yaml
  gitops/argocd/root-app.yaml
  image-factory/schematic.yaml
  terraform/helm_bootstrap.tf
  terraform/infraflux.auto.tfvars.example
  terraform/outputs.tf
  terraform/providers.tf
  terraform/proxmox_vms.tf
  terraform/talos_cluster.tf
  terraform/templates/argocd-values.yaml.tftpl
  terraform/templates/cilium-values.yaml.tftpl
  terraform/variables.tf
Due: kubeconform, opentofu-fmt, helm-lint

chore: add .editorconfig for consistent coding styles
  .editorconfig
Due: none

chore: add comprehensive GitHub Copilot instructions for infraflux project
  .github/instructions/copilot-instructions.md
Due: none

chore: remove deprecated external secrets and onepassword configurations
  gitops/apps/external-secrets/externalsecret-cloudflare-token.yaml
  gitops/apps/external-secrets/helm-release.yaml
  gitops/apps/external-secrets/secretstore-1password.yaml
  gitops/apps/k8s-platform.yaml
  gitops/apps/onepassword-sdk/helm-release.yaml
Due: kubeconform, helm-lint

feat: Update Velero Helm release configuration and bucket naming
  .github/workflows/infra.yml
  gitops/apps/cert-manager/clusterissuer-cloudflare.yaml
  gitops/apps/cilium-lb-ipam.yaml
  gitops/apps/examples/gateway-argocd.yaml
  gitops/apps/external-dns/helm-release.yaml
  gitops/apps/externalsecrets/es-argocd-oidc-client-secret.yaml
  gitops/apps/externalsecrets/es-cloudflare-token.yaml
  gitops/apps/externalsecrets/helm-release.yaml
  gitops/apps/externalsecrets/secretstore-1password-sdk.yaml
  gitops/apps/kyverno/helm-release.yaml
  gitops/apps/logging/loki-promtail.yaml
  gitops/apps/longhorn/helm-release.yaml
  gitops/apps/monitoring/kube-prometheus-stack.yaml
  gitops/apps/velero/helm-release.yaml
  gitops/argocd/rbac/argocd-rbac-cm.yaml
  gitops/argocd/root-app.yaml
  image-factory/schematic.yaml
  ops/README.md
  ops/smoke.sh
  terraform/backend.tf
  terraform/helm_bootstrap.tf
  terraform/infraflux.auto.tfvars.example
  terraform/outputs.tf
  terraform/providers.tf
  terraform/proxmox_vms.tf
  terraform/talos_cluster.tf
  terraform/templates/argocd-values.yaml.tftpl
  terraform/templates/cilium-values.yaml.tftpl
  terraform/variables.tf
Due: kubeconform, opentofu-fmt, helm-lint

refactor: update Terraform configurations for Proxmox and Talos integration
  terraform/backend.tf
  terraform/helm_bootstrap.tf
  terraform/providers.tf
  terraform/proxmox_vms.tf
  terraform/talos_cluster.tf
  terraform/templates/cilium-values.yaml.tftpl
Due: opentofu-fmt

chore: clean up Terraform configuration formatting and add velero credentials
  gitops/apps/velero/es-velero-credentials.yaml
  terraform/backend.tf
  terraform/helm_bootstrap.tf
  terraform/proxmox_vms.tf
  terraform/talos_cluster.tf
  terraform/templates/cilium-values.yaml.tftpl
Due: kubeconform, opentofu-fmt, helm-lint

fix: update repoURL in ArgoCD application configuration
  gitops/argocd/root-app.yaml
Due: kubeconform, helm-lint

feat: update ArgoCD application configuration and add backend configuration examples
  ROADMAP.md
  gitops/argocd/root-app.yaml
  terraform/backend.config.example
  terraform/backend.tf
Due: kubeconform, opentofu-fmt, helm-lint

Add initial configuration for Infraflux platform deployment
  .ansible/.lock
  .github/workflows/infra.yml
  old/gitops/apps/cert-manager/clusterissuer-cloudflare.yaml
  old/gitops/apps/cert-manager/helm-release.yaml
  old/gitops/apps/cilium-lb-ipam.yaml
  old/gitops/apps/examples/gateway-argocd.yaml
  old/gitops/apps/external-dns/helm-release.yaml
  old/gitops/apps/externalsecrets/es-argocd-oidc-client-secret.yaml
  old/gitops/apps/externalsecrets/es-cloudflare-token.yaml
  old/gitops/apps/externalsecrets/helm-release.yaml
  old/gitops/apps/externalsecrets/secretstore-1password-sdk.yaml
  old/gitops/apps/gateway-api/README.md
  old/gitops/apps/kyverno/helm-release.yaml
  old/gitops/apps/logging/loki-promtail.yaml
  old/gitops/apps/longhorn/helm-release.yaml
  old/gitops/apps/monitoring/kube-prometheus-stack.yaml
  old/gitops/apps/velero/es-velero-credentials.yaml
  old/gitops/apps/velero/helm-release.yaml
  old/gitops/argocd/rbac/argocd-rbac-cm.yaml
  old/gitops/argocd/root-app.yaml
  old/image-factory/schematic.yaml
  old/ops/README.md
  old/ops/smoke.sh
  old/terraform/backend.config.example
  old/terraform/backend.tf
  old/terraform/helm_bootstrap.tf
  old/terraform/infraflux.auto.tfvars.example
  old/terraform/outputs.tf
  old/terraform/providers.tf
  old/terraform/proxmox_vms.tf
  old/terraform/talos_cluster.tf
  old/terraform/templates/argocd-values.yaml.tftpl
  old/terraform/templates/cilium-values.yaml.tftpl
  old/terraform/variables.tf
Due: kubeconform, opentofu-fmt, helm-lint

chore: remove unused Ansible lock file
  .ansible/.lock
Due: none

feat: add comprehensive Copilot setup instructions and workflows chore: update VSCode settings for chat prompts chore: remove unused Ansible lock file
  .github/instructions/copilot-instructions.md
  .github/prompts/implement-feature.md
  .github/pull_request_template.md
  .github/workflows/copilot-setup-steps.yml
  .vscode/settings.json
Due: kubeconform, helm-lint

fix: clarify output requirements and emphasize security practices in Copilot instructions
  .github/instructions/copilot-instructions.md
Due: none

fix: add .ansible directory to .gitignore
  .gitignore
Due: none

fix: add emphasis on sequential reasoning in research discipline
  .github/instructions/copilot-instructions.md
Due: none

feat: add detailed documentation for preflight checklist, secrets inventory, and mapping
  ROADMAP.md
  docs/README.md
  docs/preflight.md
  docs/secrets.md
Due: none

feat: update ROADMAP and add Talos Image Factory documentation and schematic
  ROADMAP.md
  docs/image-factory.md
  image-factory/schematic.yaml
Due: kubeconform, helm-lint

feat: implement Terraform repo structure with CI workflows and module stubs
  .github/workflows/terraform-apply.yml
  .github/workflows/terraform-plan.yml
  ROADMAP.md
  docs/README.md
  docs/terraform.md
  terraform/README.md
  terraform/backend.config.example
  terraform/envs/prod/backend.tf
  terraform/envs/prod/main.tf
  terraform/envs/prod/prod.auto.tfvars.example
  terraform/envs/prod/providers.tf
  terraform/envs/prod/variables.tf
  terraform/envs/prod/versions.tf
  terraform/modules/argocd/README.md
  terraform/modules/argocd/main.tf
  terraform/modules/cert-manager/README.md
  terraform/modules/cert-manager/main.tf
  terraform/modules/cilium/README.md
  terraform/modules/cilium/main.tf
  terraform/modules/external-dns/README.md
  terraform/modules/external-dns/main.tf
  terraform/modules/external-secrets/README.md
  terraform/modules/external-secrets/main.tf
  terraform/modules/longhorn/README.md
  terraform/modules/longhorn/main.tf
  terraform/modules/observability/README.md
  terraform/modules/observability/main.tf
  terraform/modules/proxmox-vm/README.md
  terraform/modules/proxmox-vm/main.tf
  terraform/modules/talos-cluster/README.md
  terraform/modules/talos-cluster/main.tf
Due: kubeconform, opentofu-fmt, helm-lint

refactor: reorganize ROADMAP structure and enhance checklist clarity
  ROADMAP.md
Due: none

feat: implement Proxmox VM module with Talos integration and comprehensive documentation
  ROADMAP.md
  docs/proxmox-vm.md
  terraform/envs/prod/main.tf
  terraform/envs/prod/prod.auto.tfvars.example
  terraform/modules/proxmox-vm/README.md
  terraform/modules/proxmox-vm/main.tf
  terraform/modules/proxmox-vm/outputs.tf
  terraform/modules/proxmox-vm/variables.tf
Due: opentofu-fmt

feat: update terraform-apply workflow and documentation for environment input handling and MinIO secrets
  .github/workflows/terraform-apply.yml
  docs/terraform.md
Due: kubeconform, helm-lint

feat: enhance Talos cluster module with configuration, outputs, and comprehensive documentation
  ROADMAP.md
  docs/README.md
  docs/talos-cluster.md
  terraform/envs/prod/main.tf
  terraform/envs/prod/versions.tf
  terraform/modules/proxmox-vm/main.tf
  terraform/modules/talos-cluster/README.md
  terraform/modules/talos-cluster/main.tf
  terraform/modules/talos-cluster/outputs.tf
  terraform/modules/talos-cluster/variables.tf
Due: opentofu-fmt

feat: implement Cilium module with Helm deployment and comprehensive documentation
  .github/workflows/terraform-apply.yml
  ROADMAP.md
  docs/README.md
  docs/cilium.md
  terraform/envs/prod/main.tf
  terraform/modules/cilium/README.md
  terraform/modules/cilium/main.tf
Due: kubeconform, opentofu-fmt, helm-lint

feat: add Traefik Gateway API module with documentation and integration
  ROADMAP.md
  docs/README.md
  docs/traefik.md
  terraform/envs/prod/main.tf
  terraform/modules/traefik/README.md
  terraform/modules/traefik/main.tf
Due: opentofu-fmt

feat: implement Argo CD module with Helm deployment, Gateway API exposure, and comprehensive documentation
  ROADMAP.md
  docs/argocd.md
  terraform/envs/prod/main.tf
  terraform/envs/prod/versions.tf
  terraform/modules/argocd/README.md
  terraform/modules/argocd/main.tf
  terraform/modules/argocd/variables.tf
  terraform/modules/gitops/main.tf
  terraform/modules/gitops/variables.tf
Due: opentofu-fmt

feat: implement External Secrets Operator module with Helm deployment and comprehensive documentation
  ROADMAP.md
  docs/eso.md
  old/gitops/applicationsets/apps-dir.yaml
  old/gitops/apps/externalsecrets/es-minio-credentials.yaml
  old/gitops/apps/externalsecrets/es-proxmox-token.yaml
  terraform/envs/prod/main.tf
  terraform/modules/argocd/main.tf
  terraform/modules/external-secrets/main.tf
  terraform/modules/external-secrets/variables.tf
  terraform/modules/gitops/variables.tf
Due: kubeconform, opentofu-fmt, helm-lint

feat: enhance documentation and configurations for Argo CD, cert-manager, and external-dns integration with External Secrets Operator
  .github/instructions/copilot-instructions.md
  .github/workflows/terraform-apply.yml
  ROADMAP.md
  docs/argocd.md
  docs/cert-manager-external-dns.md
  old/gitops/apps/cert-manager/clusterissuer-cloudflare.yaml
  old/gitops/apps/cert-manager/helm-release.yaml
  old/gitops/apps/external-dns/helm-release.yaml
  old/gitops/apps/externalsecrets/es-argocd-oidc-client-secret.yaml
  old/gitops/apps/externalsecrets/es-cloudflare-token.yaml
  old/terraform/backend.tf
  terraform/modules/argocd/main.tf
  terraform/modules/argocd/variables.tf
Due: kubeconform, opentofu-fmt, helm-lint

fix: correct indentation for AWS endpoint environment variables in terraform-apply workflow
  .github/workflows/terraform-apply.yml
Due: kubeconform, helm-lint

feat: update Longhorn deployment documentation and Helm release configuration for Argo CD
  ROADMAP.md
  docs/longhorn.md
  old/gitops/apps/longhorn/helm-release.yaml
Due: kubeconform, helm-lint

feat: implement Longhorn and Observability modules with Helm deployment and comprehensive variable definitions
  ROADMAP.md
  terraform/envs/prod/main.tf
  terraform/envs/prod/variables.tf
  terraform/modules/longhorn/README.md
  terraform/modules/longhorn/main.tf
  terraform/modules/longhorn/variables.tf
  terraform/modules/observability/main.tf
  terraform/modules/observability/variables.tf
Due: opentofu-fmt

feat: update Longhorn backup configuration and add ExternalSecret for MinIO credentials
  .github/workflows/terraform-apply.yml
  ROADMAP.md
  old/gitops/apps/externalsecrets/es-longhorn-backup.yaml
  terraform/envs/prod/prod.auto.tfvars.example
Due: kubeconform, helm-lint

fix: correct indentation and add limits configuration for Loki Helm release
  .github/workflows/terraform-apply.yml
  terraform/modules/observability/main.tf
Due: kubeconform, opentofu-fmt, helm-lint
